productCards {
  display: flex;
}

.product-cards {
text-decoration: none;
text-align: center;
/* border: 1px solid grey; */
padding: 10px;
align-items: center;
height: 20%;
width: 20%;
margin: 15px;
padding: 10px 10px 10px 10px;
position: relative;
border-radius: 5px;
}

.product-cards img {
  width: 180px;
  height: 180px;
}

.product-image {
  width: 100%;
  height: 100%; 
  align-self: center;
  border: 1px solid grey;
  position: relative;
  object-fit: cover;
}
.product-name {
  font-size: 15px;
  text-decoration: none;
  color: black;
  font-family: 'Sora', sans-serif;
  font-weight: bold;
}
.price {
  font-size: 13px;
  text-decoration: none;
  align-content: center;
  color: black;
  font-family: 'Sora', sans-serif;
}