.product-cards {
text-decoration: none;
text-align: center;
align-self: flex-start;
height: 23%;
width: 23%;
margin: 15px;
padding: 10px 10px 10px 10px;
}

.product-cards:hover {
  box-shadow: 5px 5px 8px #1c2541ff;
  transition: all 0.2s;
}

.product-cards img {
  width: 20vw;
  height: 20vw;
}

.product-image {
  align-self: center;
  border: 1px solid grey;
  position: relative;
  object-fit: cover;
}
.product-name {
  font-size: 15px;
  text-decoration: none;
  color: black;
  font-family: 'Sora', sans-serif;
  font-weight: bold;
  padding: 10px;
}
.product-price {
  font-size: 13px;
  text-decoration: none;
  align-content: center;
  color: black;
  font-family: 'Sora', sans-serif;
}

@media screen and (max-width: 700px) {
  
  .product-cards {
    width: 80%;
    height: 50%;
}
}