footer img { 
  height: 50px;
} 

footer {
  display: flex;
  position: fixed;
  bottom: 0; 
  left: 0;
  right: 0;
  width: 100vw;
  height: 100px;
  background-color: #ffe45e;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
}