.products {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
  align-items: center;
  box-shadow: 0 0 3px 1px #cecece;
  transition: all 0.25s ease-in-out;
  padding: 20px;
}

