.nav{
  display:inline-flex;  
  justify-content: space-between;  
  align-content:center;
  width:100%; 
  height:60px;
  background:#ffe45e;   
} 
.nav a, .links {
  padding:10px;  
  align-self:center;
  text-decoration: none;
}  

.nav-home{
  font-size:30px; 
  font-weight:700;
}